@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap");

:root {
  --main-color: #222374;
  --secondary-color: #f03c42;
  --third-color: #cccccc;
  --color-white: white;
  --color-black: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

header {
  background-color: var(--secondary-color);
  color: var(--color-white);
}
.header_container {
  margin: 0 auto;
  width: 960px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_content {
  display: flex;
  align-items: center;
}

.header_content, a {margin: 10px;}
.header_content a:hover {
  color: var(--main-color);
}

.spaces {
  background-color: var(--main-color);
  height: 418px;
}

.components {
  color: var(--color-white);
  max-width: 960px;
  margin: 0 auto;
  padding: 25px 0;
}

.components h2 { padding: 15px 0;}

.components .card {margin: 20px auto;}
.card {
  background-color: var(--third-color);
  width: 960px;
  height: 127px;
  border-radius: 8px;
}

.card h3, p { color: var(--color-black); padding: 15px;
}

.color { color: var(--secondary-color);}

.card2 {
    background-color: var(--main-color);
    width: 960px;
    height: 106px;
    border-radius: 8px;
    margin: 20px 0;
  }
.card2 h3 { color: var(--color-white); padding: 20px 0 0 20px;}
.card2 p { color: var(--third-color);}

footer { background-color: var(--color-black);
height: 262px;
display: flex;
justify-content: center;
align-items: center;}
.footer_container .ajuste { display: flex;
align-items: center;}
.footer_container a { color: var(--color-white);}
